$translucent-background: rgba(33, 56, 117, 0.85);
$main-blue: #213875;
$hover-color: #dcf6da;


.basket-container {
  position: fixed;
  top: 59px;
  // height: 100vh;
  right: 0;
  z-index: 6;
  width: 100vw;
  background-color: $translucent-background;

    
    div {
      right: 0;
      height: 100vh;
      width: 100vw;
      position: absolute;
      z-index: 7;

        &.basket {
          z-index: 8;
          top: 0;
          height: calc(100vh - 59px);
          width: 38vw;
          background-color: #fff;
          display: flex; 
          flex-direction: column;
          position: absolute;


          .products-container {
            position: relative !important;
            height: 70%;
            width: 100%;
            overflow: scroll;
            display: flex;
            flex-direction: column;
            justify-content: flex-start !important;

            
          }


          .summary-checkout-container {
            padding: 10px;
            position: relative;
            height: 30%;
            width: 100%;
            display:flex; 
            flex-flow: column;
            justify-content: flex-end;
            border: none;

            .text-summary-container{
              width: 100%;
              height: 50%;
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              position: relative; 
              justify-content: flex-end;
              border: none;
              align-items: flex-end;
              padding-bottom: 15px;



              .left-text {
                height: 100%;
                position: relative;
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-start;
                border: none;
                // margin-left: 10%;

                p{
                  margin-left: 10%;

                  &.shipping{
                    font-weight:300;
                    margin-bottom: 4px;

                  }

                  &.total{

                    font-weight:700;
                    font-size:26px;
                  }

                }


              }
              .right-text {
                height: 100%;
                position: relative;
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-end;
                border: none;
                // margin-right: 10px;

                p{
                  margin-right: 10%;

                  &.free{
                    font-weight:300;
                    margin-bottom: 4px;


                  }

                  &.price{
                    font-weight:500;
                    font-size:20px;
                  }

                }


              }
            }
            

            button {
              position: relative;
              align-items: flex-start;
              margin-bottom: 10px;
              width: 93%;
              height: 49px;
              background-color: $main-blue;
              border: none;
              color: white;
              font-size: 16px;
              font-weight: 500;

              &:hover {
              background-color: $hover-color;
              color: $main-blue;

              }

            }

          }
          
        }
    }
    
}