$translucent-background: rgba(33, 56, 117, 0.90);

.basket-container {
  position: fixed;
  top: 59px;
  height: 100vh;
  right: 0;
  z-index: 6;
  width: 100vw !important;
  background-color: $translucent-background;
    
    div {
      right: 0;
      height: 100%;
      width: 100vw;
      position: absolute;
      z-index: 7;

        &.basket {
          z-index: 8;
          height: 100%;
          width: 38vw !important;
          background-color: #fff;
        }
    }
    
}