$translucent-background: rgba(33, 56, 117, 0.90);
$mens-color: #DAF0F6;//#6da398


.mens-drop-down {
  position: fixed;
  top: 59px;
  height: 100vh;
  z-index: 6;
  width: 100vw !important;
  display: flex;
  flex-wrap: wrap;
    div {
      height: 60%;
      z-index: 7;
      width: 100vw !important;
      background-color: $translucent-background;

      &.menu {
        z-index: 8;
        top: 0;
        height: 50%;
        width: 100vw !important;
        background-color: $mens-color;
        display: flex;
        justify-content: space-around;

        div {
          display: flex; 
          flex-direction: column;
          background-color: red;


        }

      }
      
    }
    
}