$border: solid 1px rgba(255,255,255,0.1);
$main-blue: #213875;
$mens-color: #DAF0F6;//#6da398
$womens-color: #d9ddf4;//#6da398 f4efd9
$board-color: #dcf6da;
$ski-color: #f4e3d9;

.navigation {

	margin: 0;
	padding: 0;
	box-sizing: border-box;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	top: 0;
	height: 59px;
	color: white;
	width: 100%;
	z-index: 10;




	div {
		width: 100%;
		justify-content: space-around;
		align-items: center;
		display: flex;
		color: $main-blue;
		height: 100%;
    border-bottom: $border;


		span {
			display:flex;
			height: 35px;
			width: 170px;
			background: {
				image: url('../../build/images/long-logo-white.png');
				size: cover;                
				repeat: no-repeat;
				position: center center;
			}
			transition: all 0.2s;

			&:hover {
				background-image: url('../../build/images/long-logo-blue.png');
				cursor: pointer;
			}
		}

	}


	ul {
		display: flex;
		width: 40%;
		height: 100%;
	
		&.right-nav {
			justify-content: flex-end;

			.login {
			  color: white;
			  text-decoration: none !important;

			  &.login:hover{
			  		background-color: white;
			  		color: $main-blue;		
			  		bottom-border: white !important;
			  }
			}

			li {
				width: 128px !important;
				text-transform: capitalize !important;
				font-size: 14px;

			&.bag{
				text-transform: uppercase !important;
				font-size: 12px;
				
			}

			}
		}

		li {
			text-transform: uppercase;
			display: flex;
			justify-content: center;
			align-items: center;
			list-style: none;
			font-size: 12px;
			font-weight: 400;
			width: 88px;
			height: 100%;
			transition: all 0.2s;
			border: {
				left: $border;
				bottom: $border;

			}
			z-index: 11;

			&.menu{
				border: none;
				width: 100px;
				transition: all 0.2s;
      	border-bottom: $border;
				font-weight: 400;



				&:hover {
					color: $main-blue;
					background-color: rgba(255,255,255,0.0);
					cursor: pointer;			
				}
			}

			&.men.active{
					background-color: $mens-color;
					border-bottom: 1px solid $mens-color;	
					color: $main-blue;
      		font-weight: 600;


			}

			&.women.active{
					background-color: $womens-color;	
					border-bottom: 1px solid $womens-color;
					color: $main-blue;
     			font-weight: 600;


			}

			&.board.active{
					background-color: $board-color;	
					border-bottom: 1px solid $board-color;
					color: $main-blue;
     		 font-weight: 600;
					
			}

			&.ski{
				border-right: $border;

				&.active {
					background-color: #FFE8AA;
					color: $main-blue;
      		font-weight: 600;
      		background-color: $ski-color;	
      		border-bottom: 1px solid $ski-color;


				}
			}

			

			&:hover {
				cursor: pointer;	
			}
		}
	}
	

}

