$border: solid 1px rgba(255,255,255,0.1);
$main-blue: #213875;

.navigation {

	margin: 0;
	padding: 0;
	box-sizing: border-box;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	top: 0;
	height: 59px;
	border-bottom: $border;
	color: white;
	width: 100%;
	z-index: 10;


	div {
		width: 20%;
		justify-content: space-around;
		display: flex;
		color: blue;

		span {
			display:flex;
			height: 35px;
			width: 170px;
			background: {
				image: url('../../build/images/long-logo-white.png');
				size: cover;                
				repeat: no-repeat;
				position: center center;
			}
			transition: all 0.2s;

			&:hover {
				background-image: url('../../build/images/long-logo-blue.png');
				cursor: pointer;
			}
		}
	}


	ul {
		display: flex;
		width: 40%;
		height: 100%;
	
		&.right-nav {
			justify-content: flex-end;
		}

		li {
			text-transform: uppercase;
			display: flex;
			justify-content: center;
			align-items: center;
			list-style: none;
			font-size: 12px;
			font-weight: 300;
			width: 88px;
			height: 100%;
			transition: all 0.2s;
			border: {
				left: $border;
			}

			&.menu{
				border: none;
				width: 100px;
				transition: all 0.2s;

				&:hover {
					color: $main-blue;
					background-color: rgba(255,255,255,0.0);
					cursor: pointer;			
				}
			}

			&.ski{
				border-right: $border;
			}

			&:hover {
				background-color: $main-blue;	
				cursor: pointer;	
			}
		}
	}
}