
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}
@import
  './_nav',
  './products-page/_products-page',
  './landing-page/_hero',
  './landing-page/_landing-page',
  './login-page/_login-page',
  './landing-page/_product-strip',
  './landing-page/_square-ad-strip',
  './landing-page/_featured-product',
  './landing-page/_featured-square-ad',
  './landing-page/_footer',
  './landing-page/_sale-collection',
  './navigation/_basket',
  './navigation/_navigation-invert',
  './navigation/_mens-drop-down',
   url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'),
   url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700,800,900')


